@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #636363;
  width: 100%;
}
.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.hero .rightSide {
  width: 20vw;
  height: 100vh;
  padding: 10px;
  position: sticky;
}
.hero .rightSide header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.hero .rightSide .actionTab {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hero .rightSide .actionTab .action {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 1.4rem 3rem;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid transparent;
}
.hero .rightSide .actionTab .action p {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
}
.hero .rightSide .actionTab .action:hover {
  background: #fff;
  color: royalblue;
  border: 1px solid royalblue;
}
.hero .rightSide .actionTab .active {
  color: #fff;
  background: royalblue;
  box-shadow: 0px 0px 10px royalblue;
  border: 1px solid royalblue;
}
.hero .rightSide .actionTab .active:hover {
  color: #fff;
  background: royalblue;
  box-shadow: 0px 0px 10px royalblue;
}
.hero .rightSide .actionTab .action img {
  display: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.hero .leftSide {
  width: 80vw;
  height: auto;
  padding: 10px;
  overflow-y: scroll;
}
.hero .leftSide header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.hero .leftSide header .searchBar {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.4rem;
}
.hero .leftSide header .searchBar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #636363;
}
.hero .leftSide header .rightOpt {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.hero .leftSide header .rightOpt img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-right: 1rem;
}
.hero .leftSide header .profile,
.hero .leftSide header .notification {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hero .leftSide header .rightOpt #dropdown {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
}
.hero .leftSide header .rightOpt #dropdown > span {
  float: right;
  cursor: pointer;
}
.hero .leftSide header .rightOpt #dropdown p {
  text-align: center;
}
.hero .leftSide header .rightOpt #dropdown p:nth-child(2) {
  font-weight: bold;
}
.hero .leftSide header .rightOpt #dropdown button {
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .leftSide header .rightOpt #dropdown button span {
  margin-right: 0.5rem;
}
.hero .leftSide header .rightOpt #dropdown p img {
  width: 50px;
  height: 50px;
  margin: none;
}
.hero .leftSide header .profile img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 1rem;
}
.hero .leftSide header .notification img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
.hero .leftSide header .notification img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
.hero .leftSide header .profile p img {
  width: 15px;
  height: 100%;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}
.hero .leftSide main {
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
}

.preloader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9999;
}
.userProfile,
.restaurantProfile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}
.restaurantProfile {
  justify-content: space-between;
}
.restaurantProfile > .right-side,
.restaurantProfile > .leftSide {
  flex-basis: 50%;
  width: 100%;
}
.restaurantProfile > .left-side {
}
.restaurantProfile > .right-side h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.restaurantProfile > .right-side button {
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurantProfile > .right-side img {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  margin: auto;
}
.dialogBox {
  width: 50%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: 0px 2px 5px #eee;
  padding: 1rem;
  border-radius: 10px;
}
.dialogBox p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.dialogBox form {
  width: 100%;
}
.dialogBox form input {
  width: 100%;
  height: 40px;
  border: 1px solid #eee;
  outline: none;
  padding: 0 1rem;
  font-weight: 500;
  color: #636363;
  margin-bottom: 1rem;
}
.dialogBox form button {
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editProfile {
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editProfile span {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.userProfile img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.userProfile p {
  font-size: 1rem;
  font-weight: 500;
}
