@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
#hero {
  height: 100vh;
  padding: 0 2rem;
  overflow-y: scroll;
  transition: all 0.5s ease;
  position: relative;
}
#hero section {
  height: 100vh;
}
#hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
#hero header .logo {
  font-size: 1.5rem;
  font-weight: 700;
}
#hero header #menus {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero header .menu {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
#hero header .menu li {
  font-size: 1rem;
}
#hero header .menu li:hover {
  color: #008081;
}
#hero header #accountBtn button {
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1rem;
  margin-left: 1.5rem;
  background: #008081;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#hero header #accountBtn > a {
  color: #008081;
  font-weight: 500;
}
.maincontainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: 	#E5E4E2;
}
.maincontainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: 	#E5E4E2;
}
.text12{
  margin-bottom: 37px;
  margin-top: 37px;
  position: relative;
}
.h1text{
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  padding-top: 33px;
  text-transform: capitalize;
}
.h6text{
  margin-top: 2px;
  font-size: 20px;
}
.lrcontainer{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  display: flex;
  position: relative;
  margin: 0 auto;
  contain: layout;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.15);
  margin: 0 auto;
}
.sublrcontainer{
  width: calc(((100vh-1300px)/2)+2px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 1px;
  opacity: 0;
  z-index: 1;
  will-change: opacity;
  transition: opacity .3s ease;
  transform: translate(-100%);
}
.leftcontainer {
  min-width: 260px;
  height: auto;
  background: #edf1f7;

}
.leftcontainer ul{
  margin: 0;
  padding: 20px 0;
  position: sticky;
  top: 80px;
  list-style-type: none;
}
.list{
  padding: 25px 20px;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  position: relative;
}
#li1 {
  background: #fff;
}
.listspan{
  margin-left: 40px;
  font-size: 16px;
  color: #535665;
  font-size: 500;
}
#sp1{
  color: #282c3f;
  font-weight: 600;
}
.rightcontainer {
flex: 1;
background: #ffffff;
padding: 37px 0 0 050px;
position: relative;
min-height: 80vh;
}
.rightheading{
  font-size: 24px;
  font-weight: 600;
}


#hero footer {
  padding: 2rem;
  background: #008080;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
}
#hero footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero footer .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
#hero footer .container .content .leftSection {
  width: 40%;
  padding: 1rem;
}
#hero footer .container .content .leftSection h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#hero footer .container .content .social {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
#hero footer .container .content .leftSection .social img {
  width: 22px;
  margin-right: 0.5rem;
}
#hero footer .container .content .leftSection p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
footer .linkSection {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
footer .linkSection .links h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
footer .linkSection .links ul {
  list-style: none;
}
footer .linkSection .links ul li {
  margin-bottom: 0.5rem;
}
footer .linkSection .links ul li a {
  font-size: 1rem;
  font-weight: 500;
}