*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero {
    width: 100vw;
    height: 87vh;
    background-image: url(../Assets/images/custBackground.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.hero h1{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    font-size: bold;
}
.hero .first {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    width: 85%;
    display: flex;
    margin: auto;
    color: #fff;
    margin-top: 2rem;
}
.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    z-index: 10;
}
.form input {
    width: 80%;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 15px;
}
.hero .bottom {
    width: 100vw;
    height: 40vh;
    background: #fff;
    position: fixed;
    left: 0;
    top: 60vh;
    z-index: 5;
}
.hero .bottom .content {
    width: 100%;
    height: 100%;
}
.hero .bottom .content .smallCards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.hero .bottom .content .smallCards .card {
    text-align: center;
    width: 25vw;
    color: #000;
}
.hero .bottom .content .smallCards .card span {
    font-size: 2rem;
    color: #30465e;
    font-weight: 600;
}
#restImg {
    font-size: 3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.hero .bottom .content button {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
    outline: none;
    padding: 15px 25px;
    color: #fff;
    background: #30465e;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 3rem;
    border-radius: 15px;
}
.overlay {
    width: 100vw;
    height: 85vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 999;
    color: #fff;
    display: none;
}
.overlay .content {
    width: 80%;
    height: 40%;
    display: flex;
    background: #30465e;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}
.overlay .content .closeWarning {
    width: 80%;
    height: 3rem;
    background: goldenrod;
    font-size: 2rem;
    color: #fff;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 12px;
}
.overlay .content .closeWarning span {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #fff;
}
.overlay .content>span {
    font-size: 3rem;
    color: #fff;
    margin-top: 2rem;
    color: goldenrod;
}
.overlay .content h3 {
    font-size: 2rem;
    color: #fff;
    margin-top: 1rem;
}
.overlay .content p {
    text-align: center;
    font-size: 1rem;
    color: #fff;
}