@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  width: 100vw;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

header > a span:first-child {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
}

.hero header > p {
  position: relative;
}

.hero header p span {
  font-size: 2rem;
}

.btn button {
  width: 90%;
  height: 8vh;
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: royalblue;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562);
}

.btn button span {
  margin-left: 10px;
}

.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.promo input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.promo button {
  padding: 10px 20px;
  background-color: royalblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#items {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: royalblue;
  color: #fff;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
tbody td:last-child {
  width: 90px;
}
tbody td:first-child {
  font-weight: bold;
}

tbody td:last-child {
  font-weight: bold;
  text-align: right;
}

