@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: rgb(21 20 25);
    color: #fff;
}
.hero {
    width: 100vw;
    height: 95vh;
    background-image: linear-gradient(transparent, black), url(images/images.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.hero .heroText {
    width: 100vw;
    height: auto;
    z-index: 10;
    position: absolute;
    bottom: 4rem;
    text-align: center;
}
.downArrow {
    margin-top: 1rem;
}
.heroText .downArrow i {
    display: block;
    animation: down 3s ease-in-out infinite;
}
@keyframes down {
    0% {
        transform: translateY(-1rem);
    }
    33% {
        transform: translateY(1rem);
    }
    66% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1rem);
    }
}
.downArrow i:first-child {
    font-size: 3rem;
}
.downArrow i:nth-child(2) {
    font-size: 2rem;
}
.downArrow i:last-child {
    font-size: 1rem;
}
.heroText h2 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
main {
    width: 100%;
    height: 100vh;
    padding: 10px;
    overflow-x: hidden;
}
main #categories {
    width: 100%;
    padding: 5px 0;
    margin: 10px;
    overflow-x: scroll;
}
main #categories ul {
    width: 185%;
    list-style: none;
    display: flex;
    align-items: center;
}
main #categories ul li {
    padding: 4px 10px;
    margin: 4px 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 22px;
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
}
.main-container {
    width: 100%;
    overflow-x: hidden;
}
#food-Items {
    width: 550%;
    display: flex;
    transition: all .5s;
}
#food-Items .Items {
    width: 100%;
    height: 91vh;
    overflow-y: scroll;
    margin-right: 10px;
    padding: 7px;
}
#food-Items .Items:last-child {
    margin-right: 0px;
}
#food-Items .food {
    width: 94%;
    height: 11rem;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    background: rgb(28 27 33);
}
#food-Items .food:first-child {
    margin-top: 0px;
}
#food-Items .food:last-child {
    margin-bottom: 40px;
}
#food-Items .food .details {
    padding-left: 10px;
    flex-basis: 60%;
}
#food-Items .food .details>h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#food-Items .food .details p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 6px 0;
    color: rgb(100, 100, 100);
}
#food-Items .food .details b {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
#food-Items .foodImage {
    height: 100%;
    display: flex;
    align-items: center;
    flex-basis: 40%;
    overflow: hidden;
}
#food-Items .foodImage img {
    width: 90%;
    height: 70%;
    border-radius: 10px;
}
.activeBtn {
    position: relative;
    transition: all .2s;
}
.activeBtn::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 3px;
    border-radius: 5px;
    background: red;
}