@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
#hero {
  height: 100vh;
  padding: 0 2rem;
  overflow-y: scroll;
  transition: all 0.5s ease;
  position: relative;
}
#hero section {
  height: 100vh;
}
#hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
#hero header .logo {
  font-size: 1.5rem;
  font-weight: 700;
}
#hero header #menus {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero header .menu {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
#hero header .menu li {
  font-size: 1rem;
}
#hero header .menu li:hover {
  color: #008081;
}
#hero header #accountBtn button {
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1rem;
  margin-left: 1.5rem;
  background: #008081;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#hero header #accountBtn > a {
  color: #008081;
  font-weight: 500;
}


#hero #pageOne .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}
#hero #pageOne .container .content {
  width: 50%;
  padding-right: 2rem;
}
#hero #pageOne .container .content h2 {
  font-size: 3rem;
  font-weight: 700;
}
#hero #pageOne .container .content p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #575757;
}
#hero #pageOne .container .img {
  width: 50%;
}
#hero #pageOne .container .img img {
  width: 100%;
}
#hero #pageTwo {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hero #pageTwo .horizontal_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#hero #pageTwo .horizontal_bar .card {
  width: 20%;
  padding: 1rem;
  background: #008080;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  text-align: center;
}
#hero #pageTwo .horizontal_bar .card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#hero #pageTwo .horizontal_bar .card p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#hero #pageTwo .horizontal_bar .card img {
  width: 50px;
}



#hero #pageThree .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}
#hero #pageThree .container .content {
  width: 50%;
  padding-right: 2rem;
}
#hero #pageThree .container .content h2 {
  font-size: 3rem;
  font-weight: 700;
}
#hero #pageThree .container .content p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #575757;
}
#hero #pageThree .container .img {
  width: 50%;
}
#hero #pageThree .container .img img {
  width: 100%;
}

#hero footer {
  padding: 2rem;
  background: #008080;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
}
#hero footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero footer .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
#hero footer .container .content .leftSection {
  width: 40%;
  padding: 1rem;
}
#hero footer .container .content .leftSection h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#hero footer .container .content .social {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
#hero footer .container .content .leftSection .social img {
  width: 22px;
  margin-right: 0.5rem;
}
#hero footer .container .content .leftSection p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
footer .linkSection {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
footer .linkSection .links h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
footer .linkSection .links ul {
  list-style: none;
}
footer .linkSection .links ul li {
  margin-bottom: 0.5rem;
}
footer .linkSection .links ul li a {
  font-size: 1rem;
  font-weight: 500;
}